.vs/
.nuget/
packages/
node_modules/
*.jpg
*.gif
*.png
*.svg
*.pdf
Cresimed.Admin/bin/
Cresimed.Admin/obj/
Cresimed.Campus/bin/
Cresimed.Campus/obj/
Cresimed.Campus/appsettings.json
Cresimed.Core/bin/
Cresimed.Core/obj/
Cresimed.Data/bin/
Cresimed.Data/obj/
Cresimed.Web/bin/
Cresimed.Web/obj/
