<!-- Menu -->
<aside id="layout-menu" class="layout-menu-horizontal menu-horizontal menu bg-menu-theme flex-grow-0">
    <div class="container-xxl d-flex h-100">
        <ul class="menu-inner">

            <!-- Dashboards -->
            <li class="menu-item">
                <a class="menu-link" href="/Account/Welcome">
                    <i class="menu-icon tf-icons bx bx-home-circle"></i>
                    <div data-i18n="Dashboard">Dashboard</div>
                </a>
            </li>

            <!-- CreateTest -->
            <li class="menu-item">
                <a class="menu-link" href="@Url.Action("CreateTest","Exam")">
                    <i class="menu-icon tf-icons bx bx-detail"></i>
                    <div data-i18n="Crear Examen">Crear Examen</div>
                </a>
            </li>

            <!-- HistoryTests -->
            <li class="menu-item">
                <a class="menu-link" href="@Url.Action("HistoryTests","Exam")">
                    <i class="menu-icon tf-icons bx bx-box"></i>
                    <div data-i18n="Historial de exámenes">Historial de exámenes</div>
                </a>
            </li>

            <!-- TestStats -->
            <li class="menu-item">
                <a class="menu-link" href="@Url.Action("TestStats","Exam")">
                    <i class="menu-icon tf-icons bx bx-bar-chart-square"></i>
                    <div data-i18n="Estadisticas">Estadisticas</div>
                </a>
            </li>
            <!-- Contacto -->
            <li class="menu-item">
                <a class="menu-link" href="@Url.Action("NewContact","Home")">
                    <i class="menu-icon tf-icons bx bx-support"></i>
                    <div data-i18n="Contacto">Contacto</div>
                </a>
            </li>

        </ul>
    </div>
</aside>
<!-- / Menu -->
